/* Copyright 2012 kotemaru.org. (http://www.apache.org/licenses/LICENSE-2.0) */


/* ---------------------------------------

-----------------------------------------*/
div#commonWaiting {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 32px;
	height: 32px;
	background-image: url(../img/waiting.gif) no-repeart;
}

/* EOF */
