#balloon {
	position: absolute;
	display: none;
	border: 1px solid #888800;
	background: #ffffe0;
	color: #666600;
	font-size: 12px;
	padding: 0 4px;
	white-space: nowrap;
	width: auto;
	height: auto;
}