
.Button {
	cursor: pointer;
	border: 1px solid transparent;
	padding: 2px;
	vertical-align: middle;
}

.Button:hover  {
	background: white;
	border-left:   1px solid white;
	border-top:    1px solid white;
	border-right:  1px solid lightgray;
	border-bottom: 1px solid lightgray;
}

.Button:active {
	background: #f0f0f0;
	border-left:   1px solid lightgray;
	border-top:    1px solid lightgray;
	border-right:  1px solid white;
	border-bottom: 1px solid white;
}

.Disabled {
	opacity:0.3;
}


.CheckButton {
	cursor: pointer;
	border: 1px solid transparent;
	padding: 2px;
	margin-right: 1px;
	vertical-align: middle;
}
.CheckButton:hover  {
	background: lightgray;
}
.CheckButtonOn {
	background: #e0e0e0;
	border-left:   1px solid gray;
	border-top:    1px solid gray;
	border-right:  1px solid white;
	border-bottom: 1px solid white;
}

.PulldownButton {
	display: inline-block;
	cursor: pointer;
	border: 1px solid transparent;
	padding: 2px;
	margin-right: 1px;
	vertical-align: middle;
	line-height: 0;
}
.PulldownButton > img {
	vertical-align: middle;
}
.PulldownButton:hover  {
	background: lightgray;
}
.PulldownButtonOn {
	background: #e0e0e0;
	border-left:   1px solid gray;
	border-top:    1px solid gray;
	border-right:  1px solid white;
	border-bottom: 1px solid white;
}

.VSeparator {
	display: inline-block;
	vertical-align: middle;
	height: 12px;
	border-left:   1px solid gray;
	border-top:    1px solid gray;
	border-right:  1px solid white;
	border-bottom: 1px solid white;
	margin: 0px 8px;
}


#searchKeyword {
	border:2px solid #e8e8e8;
	padding: 2px 10px;
	border-radius: 20px;
	outline: none;
	font-size: 12px;
	background: #f8f8ff;
}
#searchKeyword:focus {
	background: white;
	border:2px solid #f8c888;
}

#buttons {
	padding: 4px;
	padding-left: 70px;
	height: 60px;
}

#projectPack {
	display: inline-block;
	float: left;
}
#configPack {
	display: inline-block;
	float: right;
}

#filterPack {
	display: inline-block;
	float: left;
}
#searchPack {
	display: inline-block;
	float: right;
}

#filters {
	display: inline-block;
	border: 1px solid gray;
	line-height: 100%;
}


#projectSelector {
	width: 300px;
	//margin-right: 4px;
}

#editFolderButton {
	display: none;
}

#balloon {
	position: absolute;
	display: none;
	border: 1px solid #888800;
	background: #ffffe0;
	color: #666600;
	font-size: 12px;
	padding: 0 4px;
	white-space: nowrap;
}
