/* -- */
.BorderLayoutLeft > header {
	font-size: 14px;
	height: 24px;
	padding-top: 4px;
	background: #ddd;
	border-bottom: 1px solid lightgray;
}
.BorderLayoutLeft > header > img.Button {
	float: right;
	width: 16px;
}

.Folder {
	box-sizing: border-box;
	//font: normal 14px sans-serif;
	font-size: 14px;
	padding-left: 22px;
	padding-top: 0px;
	height: 22px;
	cursor: default;
	overflow: hidden;

	background-image: url(../img/folder.png);
	background-repeat: no-repeat;
	background-position: 2px 2px;
}

.FolderSelect {
	background-color: white;
	border: 1px solid lightgray;
}

.Folder .Count {
	font-size: 10px;
}

#folders {
	padding: 4px;
}

#folders > hr {
	margin: 4px 0px;
	margin-bottom: 6px;
}