
.Ticket {
	box-sizing: border-box;
	//height: 20px;
	padding: 0px;
	white-space: nowrap;
	overflow: hidden;

	border-left:   1px solid #e0e0e0;
	border-top:    1px solid #e0e0e0;

	border-right:  1px solid #a0a0a0;
	border-bottom: 1px solid #a0a0a0;

	margin: 2px;
	margin-right: 6px;
	margin-bottom: 4px;
	border-bottom-right-radius: 5px;
	box-shadow: 1px 1px 1px #e0e0e0;
	background: url(../img/corner.png) no-repeat ;
	background-position: right bottom;
	background-color: white;
}


.RateBar {
	vertical-align: middole;
	display: inline-block;
	width: 22px;
	height: 12px;
	border: 1px solid lightgray;
	margin-bottom: -2px;
	overflow: hidden;
}
.RateBar > span{
	vertical-align: top;
	background: lightgreen;
	display: inline-block;
	width: 0px;
	height: 12px;
}
/*------------------------------*/
.ExTableHeader {
	padding: 0 5px;
	//border-bottom: 1px solid #aaa;
}

.ExTableBody {
	padding: 4px;
}
.ExTableRow {
	min-height: 20px;
	
	border-left:   1px solid #e0e0e0;
	border-top:    1px solid #e0e0e0;

	border-right:  1px solid #a0a0a0;
	border-bottom: 1px solid #a0a0a0;

	margin: 0px;
	margin-right: 0px;
	margin-bottom: 4px;
	border-bottom-right-radius: 5px;
	box-shadow: 1px 1px 1px #e0e0e0;
	background: url(../img/corner.png) no-repeat ;
	background-position: right bottom;
	background-color: white;
}
.ExTableRow .ExTableColumn {
	padding: 2px 2px 0px 2px;
	border-right: 1px dashed lightgray;
	line-height: 130%;
	vertical-align: middle;
}

.TicketSelect {
	background-color: #d0e0ff;
}
.TicketUnChecked {
	font-weight: bold;
}


