/* Copyright 2012 kotemaru.org. (http://www.apache.org/licenses/LICENSE-2.0) */

/**
ExTable styles

HTML format:
<div id="user-def" class="ExTable">
  <div class="ExTableHeader">
    <span class="ExTableColumn ExTableColumn_0">
      <span>番号</span> <!-- Header Label -->
      <span class="ExTableHandle">&nbsp;</span>
    </span>
    <span class="ExTableColumn ExTableColumn_1 ExTableHeaderSortAsc">
      <span>名前</span> <!-- Header Label -->
      <span class="ExTableHandle">&nbsp;</span>
    </span>
  </div>
  <div class="ExTableBody">
    <div class="ExTableRow">
      <span class="ExTableColumn ExTableColumn_0">123</span>
      <span class="ExTableColumn ExTableColumn_1">aaaa</span>
    </div>
    <div class="ExTableRow">
      <span class="ExTableColumn ExTableColumn_0">456</span>
      <span class="ExTableColumn ExTableColumn_1">bbbb</span>
    </div>
  </div>
</div>

Classes:
ExTable				: テーブルトップ
ExTableHeader		: ヘッダ行
ExTableColumn		: カラム(ヘッダ、データ共用)
ExTableColumn_{n}	: 個別カラム(ヘッダ、データ共用)
ExTableHandle		: カラムサイズ調整用ハンドル
ExTableBody			: データブロック
ExTableRow			: データ行

*/

/* ---------------------------------------

-----------------------------------------*/
.ExTable {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	padding-top: 20px;		/* header height*/
}

.ExTableHeader {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	display: block;
	position: relative;
	width: 100%;
	height: 20px;			/* header height*/
	margin-top: -20px;		/* header height*/
}

.ExTableBody {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
}

.ExTableRow {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	display: block;
	position: relative;
	width: 100%;
	height: 20px; /* for debug */
}

.ExTableColumn {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	display: inline-block;
	position: absolute;
	min-height: 100%;
	height: 100%;
	padding: 2px 2px;
	overflow: hidden;
	white-space: nowrap;
}
.ExTableColumn>span {
	display: inline-block;
}
.ExTableColumnMin {
	padding-left: 0px;
	paddinf-right: 0px;
}

/* --------------------------------------------------------
   Header
-----------------------------------------------------------*/
.ExTableHeader > .ExTableColumn {
	overflow: visible;
	cursor: pointer;
}
.ExTableHeader .ExTableHeaderLabel {
	display: inline-block;
	overflow: hidden;
	padding: 0;
	width: 100%;
	height: 120%;
	vertical-align: top;
}
.ExTableHeader .ExTableHeaderLabel > span { /* Header Column Label */
	display: inline-block;
	width: auto;
	height: 100%;
	padding-right: 6px;
	line-height: 120%;
	vertical-align: bottom;
	white-space: nowrap;
}

.ExTableHeader .ExTableHandle {
	display: inline-block;
	position: absolute;
	top: 0px;
	right: -3px;
	height: 100%;
	width: 5px;
	cursor: url('../img/cursor-move-line-LR.png') 8 8, col-resize;
	//cursor:col-resize;
	z-index: 100;
	//border: 1px solid gray; /* for debug */
}

/*------------------------------------------------------
 decoration
------------------------------------------------------*/
.ExTable {
	font-size: 12px;
}
.ExTableColumn {
	height: 100%;
	padding: 2px;
}

.ExTableHeader {
	background-image: -webkit-gradient(linear, center top, center bottom, from(#eee), to(#ccc));
	background-image: -moz-linear-gradient(top, #eee, #ccc);
	//border-top: 1px solid #c0c0c0;
	border-bottom: 1px solid #c0c0c0;
}

.ExTableHeader .ExTableColumn {
	border-right: 1px solid lightgray;
}

.ExTableHeader .ExTableHeaderSortAsc {
	background-image: -webkit-gradient(linear, center top, center bottom, from(#ccc), to(#eee));
	background-image: -moz-linear-gradient(top, #ccc, #eee);
}
.ExTableHeader .ExTableHeaderSortAsc .ExTableHeaderLabel > span {
	background: url(../img/sort-up.png) no-repeat right 40%;
}
.ExTableHeader .ExTableHeaderSortDesc {
	background-image: -webkit-gradient(linear, center top, center bottom, from(#ccc), to(#eee));
	background-image: -moz-linear-gradient(top, #ccc, #eee);
}
.ExTableHeader .ExTableHeaderSortDesc .ExTableHeaderLabel > span {
	background: url(../img/sort-down.png) no-repeat right 40%;
}



.ExTableRow {
	min-height: 20px;
	//height: 20px;
	border-bottom: 1px solid lightgray;
}
.ExTableRow .ExTableColumn {
	padding: 2px 4px;
	vertical-align: middle;
	border-right: 1px solid lightgray;
}

/* EOF */
