#parse("properties.vm")
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>アーカイブ : 時々、失業SEの開発日誌</title>
	
	<link rel="stylesheet" href="${root-path}/css/archive.css" type="text/css">
	<script src="${root-path}/js/jquery-1.8.2.js" ></script>
	<script src="${root-path}/js/archive.js" ></script>
</head>
<body>

#set($prev_year = 0)
#set($prev_ymonth = 0)
<ul>
	<ul>
		<ul>
#foreach($blog in $blogs)
	#set($year = ($blog.date.year + 1900))
	#set($month = $tool.getMonth($blog))
	#if ($year != $prev_year)
		#set($prev_month = 0)
		</ul>
	</ul>
	<li class="YearItem" id="${year}">${year}</li>
	<ul class="YearBody" id="body-${year}">
		<ul>
	#end
	#if ($month != $prev_month)
		</ul>
		<li class="MonthItem" id="${year}-${month}">${month}</li>
		<ul class="MonthBody" id="body-${year}-${month}">
	#end
			<li class="BlogItem" ><a target="_top" href="${root-path}/${blog.contentPath}">${blog.subject}</a></li>
	#set($prev_year = $year)
	#set($prev_month = $month)
#end
		</ul>
	</ul>
</ul>

</body>
</html>