#parse("properties.vm")

<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>カテゴリ一覧 : 時々、失業SEの開発日誌</title>

	<link rel="stylesheet" href="${root-path}/css/archive.css?${timestamp}" type="text/css">
	<style>
li {
	list-style-image: url(/img/li-mark-2.png);
}
	</style>
</head>
<body>

<ul>
#foreach($category in ${tags})
	<li><a target="_top" href="${root-path}/category/${tool.encode($category.tag)}/">${category.tag}</a> (${category.size()})</li>
#end
</ul>

</body>
</html>