
    </div>

    <div id="side">
    	<h5>サイト内検索</h5>
		<form action="http://www.google.com/search">
			<input type="hidden" name="hl" value="ja" />
			<input type="hidden" name="ie" value="UTF-8">
			<input type="hidden" name="oe" value="UTF-8">
			<input type="hidden" value="blog.kotemaru.org" name="as_sitesearch" />
			<input type="text" id="query" name="q" size="20" maxlength="256" value="" 
			/><input type="submit" name="btnG" value="検索" />
		</form> 

		
     	<p/><h5>登録</h5>
    	<a class="RSS" href="${root-path}/atom.xml"><img src="/img/RSS.png"/><span>RSS/2.0</span></a>

    	<p/><h5>カテゴリ</h5>
		<iframe class="BlogParts" height="200" src="${root-path}/category.html?${timestamp}" frameborder="0" ></iframe>

    	<p/><h5>最近の投稿<span class="CategoryTag">${categoryTag}<span></h5>
	 	<iframe class="BlogParts" height="200" src="${root-path}/${recent-path}recent.html?${timestamp}" frameborder="0" ></iframe>

    	<p/><h5>リンク</h5>
	 	<iframe class="BlogParts" src="${root-path}/links.html?${timestamp}" frameborder="0" ></iframe>

    	<p/><h5>アーカイブ</h5>
	 	<iframe class="BlogParts" src="${root-path}/archive.html?${timestamp}" frameborder="0" ></iframe>

    </div>
    <br clear="all" />
    <div id="footer">
	Copyright 2013- @kotemaru.org<br/>
	<img src="http://developers.google.com/appengine/images/appengine-noborder-120x30.gif"
alt="Powered by Google App Engine" />
    </div>
  </div>
</body>
</html>