package ${packageName};

import java.util.*;
import org.apache.velocity.VelocityContext;
import java.lang.annotation.Annotation;

import javax.annotation.processing.AbstractProcessor;
import javax.annotation.processing.ProcessingEnvironment;
import javax.annotation.processing.Filer;
import javax.annotation.processing.Messager;
import javax.annotation.processing.RoundEnvironment;
import javax.lang.model.element.TypeElement;

import javax.annotation.processing.SupportedAnnotationTypes;
import javax.annotation.processing.SupportedSourceVersion;
import javax.lang.model.SourceVersion;

import org.kotemaru.apthelper.*;
import org.kotemaru.apthelper.annotation.*;

@SupportedSourceVersion(SourceVersion.RELEASE_6)
@SupportedAnnotationTypes("${masterClassDecl.qualifiedName}")
public class ${className} extends ClassProcessorBase
{
	public ${className}() {
	}
	
	@Override
	public boolean processClass(TypeElement classDecl) throws Exception {
		Class<?> annoClass = ${masterClassDecl.qualifiedName}.class;
		return processClass(classDecl, annoClass);
	}
	
	private final static Set<String> OPTIONS = new HashSet<String>();
	static {
#foreach ($opt in $annotation.options())
		OPTIONS.add("${opt}");
#end
	};
	@Override
	public Set<String> getSupportedOptions() {
		return OPTIONS;
	}
}
