package ${packageName};

import java.util.*;
import org.apache.velocity.VelocityContext;
import java.lang.annotation.Annotation;

import javax.annotation.processing.AbstractProcessor;
import javax.annotation.processing.ProcessingEnvironment;
import javax.annotation.processing.Filer;
import javax.annotation.processing.Messager;
import javax.annotation.processing.RoundEnvironment;
import javax.lang.model.element.TypeElement;

import javax.annotation.processing.SupportedAnnotationTypes;
import javax.annotation.processing.SupportedSourceVersion;
import javax.lang.model.SourceVersion;

import org.kotemaru.apthelper.*;
import org.kotemaru.apthelper.annotation.*;

@SupportedSourceVersion(SourceVersion.RELEASE_6)
@SupportedAnnotationTypes("${masterClassDecl.qualifiedName}")
public class ${className} extends ClassProcessorBase
{
	public ${className}() {
	}
	
	@Override
	public boolean processClass(TypeElement classDecl) throws Exception {
		Class<?> annoClass = ${masterClassDecl.qualifiedName}.class;
		return processClass(classDecl, annoClass);
	}
	
	private final static Set<String> OPTIONS = new HashSet<String>();
	static {
#foreach ($opt in $annotation.options())
		OPTIONS.add("${opt}");
#end
	};
	@Override
	public Set<String> getSupportedOptions() {
		return OPTIONS;
	}
	
	
/*
	public boolean processClass(TypeElement classDecl) throws Exception {
		Annotation anno = classDecl.getAnnotation(${masterClassDecl.qualifiedName}.class);
		if(anno == null) return false;

		ProcessorGenerate pgAnno =
			${masterClassDecl.qualifiedName}.class.getAnnotation(ProcessorGenerate.class);

		VelocityContext context = initVelocity();
		//VelocityContext context = new VelocityContext();
		context.put("masterClassDecl", classDecl);
		context.put("annotation", anno);
		context.put("environment", environment);

		Object helper   = getHelper(classDecl, pgAnno.helper());
		context.put("helper", helper);

		String pkgName = getPackageName(classDecl, pgAnno.path());
		String clsName = classDecl.getSimpleName() + pgAnno.suffix();
		String templ = getResourceName(pgAnno.template());
		//String templ = pgAnno.template();

		if (pgAnno.isResource()) {
			applyTemplateText(context, pkgName, clsName, templ);
		} else {
			applyTemplate(context, pkgName, clsName, templ);
		}
		//applyTemplate(context, pkgName, clsName, anno.getClass(), templ);
		return true;
	}

	private String getResourceName(String name) {
		if (name.startsWith("/")) return name;
		if (name.length() == 0) {
			name = "${masterClassDecl.simpleName}.vm";
		}
		String pkg = "${helper.getPackageName($masterClassDecl)}";
		return pkg.replace('.', '/') +'/'+name;
	}
*/
}
