
.DialogPanel {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 100;
}
.DialogMask {
	position: absolute;
	width: 100%;
	height: 100%;
	background: black;
	opacity: 0.5;
}


.Dialog {
	position: absolute;
	//width: 900px;
	border-radius: 10px;
	overflow:hidden;
	box-shadow: 4px 4px 8px;

}

.Dialog > div{
	background: white;
	border-radius:  0px 0px 8px 8px;
	height: 200px;
	width: 400px;
	overflow-y: hidden;
}

.Dialog > h3 {
	display: inline-block;
	//border: 1px solid gray;
	//border-bottom: 0;

	//width: 170px;
	width: 100%;
	height: 24px;
	background: -webkit-gradient(linear, center top, center bottom, from(#ccf), to(#aaf));
	background: -moz-linear-gradient(top, #eef, #ccf);

	margin: 0;
	border-radius: 8px 8px 0px 0px;
	//background: #f8f8ff;
	text-align: center;
	font: 16px bold fixed;
}
.Dialog > h3 > nobr {
	vertical-align: middle;
}

.CloseImg {
	float: right;
	width: 16px;
	height: 16px;
	padding: 4px;
	margin: 4px;
	cursor: pointer;
}

#configDialog > div {
	//border: 1px solid gray;
	height: 400px;
	width: 900px;
	overflow-y: scroll;
}


.ConfigTable {
	margin: 0 auto;
	font-size: 14px;
	border-spacing: 0px;
	border-bottom: 1px solid lightgray;
}
.ConfigTable th {
	width: 180px;
	margin-right: 20px;
	border-top: 1px solid lightgray;
	font-weight: normal;
	text-align: right;
	vertical-align: top;
	padding: 4px;
}
.ConfigTable td {
	width: 600px;
	border-top: 1px solid lightgray;
	padding: 4px;
	padding-bottom: 20px;
}
.ConfigTable  tr  td:nth-child(2) {
	width: 20px;
	border-top: 0;

}
.ConfigTable tr:first-child th {
	border: 0;
	font-weight: bold;
	text-align: left;
}


#addFolderDialog > div {
	//border: 1px solid gray;
	height: 350px;
	width: 600px;
	//overflow-y: scroll;
}

