html,body {
	margin: 0;
	padding: 0;
	font-size: 14px;
	background: -moz-linear-gradient(top, #8af, #248);
	background: -webkit-gradient(linear, left top, left bottom, from(#8af), to(#248));
	width: 100%;
<!--[if lte IE 8]>
	background: #e0f0ff;
<![endif]-->
}

#outFrame {
	width: 906px;
	max-width: 906px;
	margin: 8px auto;
	padding: 32px;
	background: white;
}

#header {
	width: 100%;
	height: 100px;
	margin-bottom: 16px;
	border-bottom: 1px solid lightgray;
}
#header #mainTitle {
	font: bold 48px sans-serif;
	text-decoration: none;
	color: black;
}
#header #subTitle {
	font: normal 16px sans-serif;
	color: #66aaee;
	margin-top:16px;
}
#footer {
	width: 100%;
	font-size: 10px;
	text-align: right;
	margin-top: 16px;
	border-top: 1px solid lightgray;
}

.PostedDate {
	font: bold 12px monospace,sans-serif;
	text-align: right;
}
#content {
	width: 650px;
	float: left;
	padding-right: 16px;
	border-right: 1px solid lightgray;
}

#side {
	width: 220px;
	float: right;
	padding-left: 8px;
}

#side iframe {
	width: 100%;
	border: 0;
	margin: 0;
	padding: 0px;
}

.Paging {
	font-size: 10px;
}
.NextPage {
	float: right;
}
.PrevPage {
	float: left;
}

h2,h3,h4,h5 {
	margin-top: 0.25em;
	margin-bottom: 0.25em;
}
h2 {
	background: aliceBlue;
	padding-left: 4px;
	padding-top: 3px;
}
h2 a {
	text-decoration: none;
	color: blue;
}
h2 a:hover  {
	text-decoration: underline;
	color: blue;
}
h2 a:visited  {
	text-decoration: underline;
	color: #8800ee;
}

h4 {
	border-left: 6px solid #A0C0FF;
	border-bottom: 1px solid #A0C0FF;
	padding-left: 4px;
	padding-top: 3px;
	margin-bottom: 0.5em;
}

#side h5 {
	margin:0;
	margin-bottom: 4px;
}
#side .RSS span{
	vertical-align: top;
	font-size: 14px;
}

#side input#query {
	border: 1px solid gray;
	width: 150px;
}

blockquote.tr_bq {
	background: #F0F0FF;
	border: 1px solid #A0A0FF;
	padding: 4px;
	font-size: 80%;
	margin-top: 0.5em;
	margin-left: 4em;
}

table.KTable th {
	background: #D0E0FF;
	font-size: 14px;
}
table.KTable td {
	background: aliceBlue;
	font-size: 14px;
}

#content img {
	padding: 2px;
	background: white;
	border: 1px solid #EEE;
	-moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
	-webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
}

/* --- ÉRÉÅÉìÉgä÷òA -----*/
.LinkComment {
	text-align: right;
	font: bold 10px monospace,sans-serif;
}
.CommentTitle {
	font: bold 14px monospace,sans-serif;
	padding: 4px;
	padding-bottom: 2px;
	margin-top: 2em;
	background: #ddfff0;
}
.CommentHead {
	margin-top: 0.6em;
	font: bold 10px monospace,sans-serif;
}
.CommentBody {
	font-size: 14px;
}
.CommentFormTitle {
	font: bold 14px monospace,sans-serif;
	padding: 0px;
	margin-top: 2em;
}
.CommentFormTable {
	margin-left: 1em;
	font-size: 14px;
	width: 80%;
}
.CommentFormTable input,textarea{
	font-size: 12px;
	border: 1px solid lightgray;
}
.CommentFormTable textarea{
	width: 100%;
	height: 7em;
}
.CommentFormTable th {
	white-space: nowrap;
	padding: 0 4px;
	text-align: left;
	font: normal 12px monospace,sans-serif;
	background: #f0fff8;
}
.CommentFormTable td {
}



