
.DialogPanel {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 100;
}
.DialogMask {
	position: absolute;
	width: 100%;
	height: 100%;
	background: black;
	opacity: 0.5;
}


.Dialog {
	position: absolute;
	//width: 900px;
	height: auto;
	border-radius: 10px;
	//overflow:hidden;
	box-shadow: 4px 4px 8px;
	font-size: 14px;
}

.Dialog > div{
	background: white;
	border-radius:  0px 0px 8px 8px;
	height: auto;
	width: auto;
	padding: 8px;
	overflow-y: hidden;
}

.Dialog > h3 {
	display: inline-block;
	//border: 1px solid gray;
	//border-bottom: 0;

	//width: 170px;
	width: 100%;
	height: 24px;
	line-height: 24px;
	background: #bbf;
	background: -webkit-gradient(linear, center top, center bottom, from(#ccf), to(#aaf));
	background: -moz-linear-gradient(top, #eef, #ccf);

	margin: 0;
	border-radius: 8px 8px 0px 0px;
	//background: #f8f8ff;
	text-align: center;
	vertical-align: middle;
	font: 16px bold fixed;
	//padding-top: 4px;
}
.Dialog > h3 > nobr {
	vertical-align: middle;
	line-height: 24px;
}

.Dialog h4 {
	margin: 0;
}

.Dialog input[type=text] {
	border: 1px solid lightgray;
	padding: 1px 4px;
	margin: 4px 0;
}

.CloseImg {
	float: right;
	width: 10px;
	height: 10px;
	padding: 4px;
	margin: 4px;
	cursor: pointer;
}

div.DialogButtons {
	text-align: right;
	//margin: 8px;
	margin-top: 8px;
}
div.DialogButtons button {
	width: 70px;
}

#configDialog > div {
	//border: 1px solid gray;
	height: 400px;
	width: 700px;
	overflow-y: scroll;
}



.Dialog table {
	width: 90%;
}
.Dialog th {
	text-align: left;
	vertical-align: top;
	background: #ddeeff;
}
.Dialog textarea {
	width: 100%;
	margin: 0 4px;
}

.Dialog .LineComment {
	width: 100px;
}


