<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.kotemaru.android.adkterm" android:versionCode="1"
	android:versionName="1.0">

	<uses-sdk android:minSdkVersion="12" android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.INTERNET" />

	<application android:allowBackup="true" android:icon="@drawable/terminal"
		android:label="@string/app_name" android:theme="@style/AppTheme">
		<uses-feature android:name="android.hardware.usb.accessory" />
		<activity android:name="org.kotemaru.android.adkterm.MainActivity"
			android:configChanges="orientation|keyboardHidden"
			android:label="@string/app_name"
			android:screenOrientation="landscape"
			>
			<!--  android:screenOrientation="portrait" -->
			<!--  android:screenOrientation="landscape"-->

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />

				<intent-filter>
					<action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" />
				</intent-filter>
				<meta-data android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"
					android:resource="@xml/accessory_filter" />
			</intent-filter>
		</activity>
		<activity android:name="org.kotemaru.android.adkterm.PrefActivity" />

	</application>

</manifest>
