
div,span {
	user-select: none; /* CSS3 */
	-moz-user-select: none; /* Firefox */
	-webkit-user-select: none; /* SafariÅAChromeÇ»Ç« */
	-ms-user-select: none; /* IE10Ç©ÇÁÇÁÇµÇ¢ */
}

#borderLayoutMainInner {
	background: #a0a0a0;
}
#borderLayoutLeft {
	background: #f0f0e0;
}
#canvas {
	background: #f8f8f8;	
}

#menus {
	position: absolute;
}
#printer {
	display: none;
	position: absolute;
	left:0;
	top:0;
	background: white;
	width: auto;
	height: auto;
	z-index: 100;
}

#menuCable {
	position: absolute;
	width: 100px;
	display: none;
}


