
.PopupMenu,
.PulldownMenu {
	display: none;
	position: absolute;
	border: 1px solid black;
	box-shadow: 2px 2px 4px;
	//overflow-y: scroll;
	background: white;
	width: auto;
	height: auto;
	padding: 2px;
	
	font-size: 14px;
	font-weight: 700;
	line-height: 120%;
	
	z-index: 99999999;
}
.PopupMenu {
	background: #f0f0f0;
	border: 1px solid #888866;
}
.PopupMenu .MenuItem > img {
	vertical-align: -2px;
}
.PopupMenu .Disabled {
	opacity: 0.25;
}

div.MenuItem {
	white-space: nowrap;
	overflow: hidden;
	margin-bottom: 2px;
	cursor: pointer;
}
.MenuItem:hover {
	background: #d0d0d0;
}
div.Disabled:hover {
	background: transparent;
	cursor: url(../img/cursor_disabled.png), default;
}
.PulldownButton {
	cursor: pointer;
	line-height: 16px;
	height: 16px;
}
.PulldownButton > img {
	vertical-align: biddle;
}

#popupMenu-line-L,
#popupMenu-line-R {
	width: 24px;
	//height: 100px;
	//overflow-y: hidden;
}
#popupMenu-line {
	width: 50px;
	//height: 60px;
	//overflow-y: hidden;
}

#popupMenu-association {
	width: 32px;
}


.Menu {
	position: absolute;
	background: #e0e0e0;
	border: 1px solid gray;
	font-size: 12px;
	cursor: pointer;
}
.MenuHeader {
	background: #f8f8f8;
	font-weight: bold;
	color: white;
	text-align: center;
	background: #808080;
}
.MenuItem:hover {
	background: #f8f8f8;
}
