<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="BrowserEditorBase"
            extensions="json"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.kotemaru.eclipse.browserpluginsample.editors.BrowserEditor"
            id="org.kotemaru.eclipse.browserpluginsample.editors.BrowserEditor">
      </editor>
   </extension>

</plugin>
