
div,span {
	user-select: none; /* CSS3 */
	-moz-user-select: none; /* Firefox */
	-webkit-user-select: none; /* SafariAChrome‚È‚Ç */
	-ms-user-select: none; /* IE10‚©‚ç‚ç‚µ‚¢ */
}

#borderLayoutMainInner {
	background: #a0a0a0;
}

#canvas {
	background: #f8f8f8;	
}

#menus {
	position: absolute;
}

.Menu {
	position: absolute;
	background: #e0e0e0;
	border: 1px solid gray;
	font-size: 12px;
	cursor: pointer;
}
.MenuHeader {
	background: #f8f8f8;
	font-weight: bold;
	color: white;
	text-align: center;
	background: #808080;
}
.MenuItem:hover {
	background: #f8f8f8;
}
#menuCable {
	position: absolute;
	width: 100px;
	display: none;
}
#borderLayoutLeft {
	background: #f0f0e0;
}
.ActionGroup {
	background: #f0f0e0;
	clear:both;
	overflow:hidden;
	margin: 2px 0px;
}
.ActionGroup > span{
	float: left;
}
.ActionGroup > hr{
	padding: 0px;
	margin: 2px;
	margin-top: 4px;
	clear: both;
}
.ActionGroup .Action {
	display: inline-block;
	width: 36px;
	height: 20px;
	padding: 1px;
	margin: 2px;
	border: 1px outset #f0f0f0;
	background: #f0f0f0;
	cursor: pointer;
	text-align: center;
}

.ActionGroup .Small {
	width: 20px;
	height: 20px;
}
.ActionGroup .Action>img {
	vertical-align: middle;
}
img#cableImg {
	padding-top: 6px;
}

.ActionGroup .Selected {
	border: 1px inset #f0f0f0;
}
.ActionGroup .Locked {
	border: 2px inset #f0f0f0 !important;
	padding: 0px !important;
}


.ActionGroupHeader {
	font-size: 10px;
	font-weight: bold;
	height: 12px;
	background: #f0d080;
	overflow:hidden;
	padding-top: 1px;
	border-bottom: 1px solid  #a0a040;
}
.ActionGroupHeader > img.OpenClose {
	float: right;
	padding: 2px;
	cursor: pointer;
}

