//  Generated stub.
#*
定義済変数
${packageName}      : このクラスのパッケージ名
${className}        : このクラスのクラス名
${typeElement}      : アノテーションの定義された元クラスの TypeElement
${annotation}       : 元クラスに定義されたアノテーション(HandlerHelper)
${classDecl}        : ClassDeclインスタンス
*#

package ${packageName};

import org.kotemaru.android.handlerhelper.rt.Runner;
import org.kotemaru.android.handlerhelper.rt.ThreadManager;
import android.util.Log;

public class ${className}  $classDecl.implements
{
	private static final String TAG = "${className}";
	private static final String TRACE_TAG = "HH-Trace";
	private static final boolean IS_TRACE = ${typeElement.simpleName}.IS_TRACE;

	public ThreadLocal<Runner> mCurrentRunner = new ThreadLocal<Runner>();
	public final ${typeElement.simpleName} mOrigin;
	public final ThreadManager mThreadManager;

	public ${className}(${typeElement.simpleName} origin, ThreadManager threadManager) {
		this.mOrigin = origin;
		this.mThreadManager = threadManager;
	}

## 元クラスのメソッド一覧を取得
#foreach( $method in $classDecl.getMethods() )
	public ${method.elem.returnType} ${method.name}(${method.params}) {
		final Runner runner = new Runner(){
			@Override public void run() {
				mCurrentRunner.set(this);
				try {
					mOrigin.${method.name}(${method.arguments});
				} catch (Throwable t) {
#if( $method.retry > 0)
					if (this.doRetry()) {
						Log.e(TAG, "Retry : ${method.name} in handler:"+t);
						mThreadManager.post($method.threadName, this, this.getInterval());
					} else {
						onDelegateHandlerError(t, "${method.name}",${method.arguments});
					}
#else
					onDelegateHandlerError(t, "${method.name}",${method.arguments});
#end
				} finally {
					mCurrentRunner.set(null);
				}
			}
		};
		if (IS_TRACE) {
			Log.v(TRACE_TAG, runner.toTraceString(mCurrentRunner.get(),$method.threadName,"${method.name}",${method.arguments}));
		}
#if( $method.retry > 0)
		runner.setRetryInfo($method.retry, $method.interval, ${method.intervalRate}F);
#end
		mThreadManager.post($method.threadName, runner, ${method.delay});
	}
#end

#if( ! $classDecl.hasErrorHandler() )
	public void onDelegateHandlerError(Throwable t, String methodName, Object... arguments);
		Log.e(TAG, "${method.name} in handler",t);
		throw new DelegateHandlerError(t);
	}
#end
}
