// Auto Generated
#*
定義済変数
${packageName}      : このクラスのパッケージ名
${className}        : このクラスのクラス名
${masterClassDecl}  : アノテーションの定義された元クラスの TypeElement
${annotation}       : 元クラスに定義されたアノテーション
${helper}           : ユーザ定義の補助クラスインスタンス
${environment}      : ProcessingEnvironment
*#

package ${packageName};

import android.content.Context;
import android.content.SharedPreferences;
import android.preference.PreferenceManager;

public class ${className}
{
	protected static SharedPreferences sharedPrefs;
	
	public static void init(Context context) {
		sharedPrefs = PreferenceManager.getDefaultSharedPreferences(context);
	}

#foreach ($node in $helper.getNodes("/PreferenceScreen/*"))
	#set($key = ${helper.getNode($node,"@key").value})
	#set($Key = ${helper.getCaptalName($key)})
	#set($prefCls = ${node.nodeName})
	
#if ($prefCls == "CheckBoxPreference")
	public static Boolean get$Key() {
		return sharedPrefs.getBoolean("$key", false);
	}
#else
#if (${helper.getNode($node,"@inputType").value} == "number")
	public static int get$Key() {
		return Integer.parseInt(sharedPrefs.getString("$key", "0"));
	}
#else
	public static String get$Key() {
		return sharedPrefs.getString("$key", "");
	}
#end
#end
#end
}
