#parse("site-header.html")
<div class="Paging">
#if(${next-page} != "")
<span class="NextPage"><a href="${next-page}">次へ&gt;&gt;</a></span>
#end
#if(${prev-page} != "")
<span class="PrevPage"><a href="${prev-page}">&lt;&lt;前へ</a></span>
#end
<br clear="all"/>
<br style="line-height: 50%;"/>
</div>

#foreach ($blog in $blogs)

<div class="PostedDate">${tool.yyyymmdd($blog.date)}</div>
<h2><a href="${root-path}/${blog.contentPath}">${blog.subject}</a></h2>
<div class="ContentBody">
${blog.content}
</div>
<div class="LinkComment"><a href="${root-path}/${blog.contentPath}#Comment">
》この投稿へのコメント</a></div>
<hr class="ContentEnd"/>

#end

<div class="Paging">
#if(${next-page} != "")
<span class="NextPage"><a href="${next-page}">次へ&gt;&gt;</a></span>
#end
#if(${prev-page} != "")
<span class="PrevPage"><a href="${prev-page}">&lt;&lt;前へ</a></span>
#end<br clear="all"/>
</div>
#parse("site-footer.html")