<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>Comment</servlet-name>
		<servlet-class>org.kotemaru.blog.CommentServlet</servlet-class>
		<init-param>
			<param-name>email</param-name>
			<param-value>owner@blog.com</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>Comment</servlet-name>
		<url-pattern>/Comment</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>404</error-code>
		<location>/404.html</location>
	</error-page>
</web-app>
