<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="UML-Draw"
            extensions="udr"
            icon="icons/udr.png"
            contributorClass="org.kotemaru.eclipse.umldraw.ActionContributor"
            class="org.kotemaru.eclipse.umldraw.BrowserEditor"
            id="org.kotemaru.eclipse.umldraw.editors.BrowserEditor">
      </editor>
   </extension>
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.kotemaru.eclipse.umldraw.Preference"/>
	</extension>
 <extension
       point="org.eclipse.ui.newWizards">
    <wizard
          class="org.kotemaru.eclipse.umldraw.NewWizard"
          icon="icons/udr.png"
          id="org.kotemaru.eclipse.umldraw.NewWizaed"
          name="UML Draw">
    </wizard>
 </extension>
 
	<extension point="org.eclipse.ui.actionSets">
		<actionSet label="UML Draw" visible="true"
				id="org.kotemaru.eclipse.umldraw.ActionSet">
<!--
		    <action label=""
				icon="icons/config.png"
				toolbarPath="umldraw"
				tooltip="Preference UML Draw"
				retarget="true"
				id="org.kotemaru.eclipse.umldraw.configAction"
			></action>
-->
		    <action label=""
				icon="icons/redo.png"
				toolbarPath="umldraw"
				tooltip="REDO"
				retarget="true"
				id="redo"
			></action>
		    <action label=""
				icon="icons/undo.png"
				toolbarPath="umldraw"
				tooltip="UNDO"
				retarget="true"
				id="undo"
			></action>
		</actionSet>
	</extension>
 
 
	<extension point="org.eclipse.equinox.http.registry.resources">
		<resource alias="/" base-name="/webContent" />
	</extension>
	<extension point="org.eclipse.equinox.http.registry.servlets">
		<servlet alias="/rob"
	class="rob.MyHTTPServlet">
	  </servlet>
	  
	</extension>

</plugin>
