<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="UML-Draw"
            extensions="udr"
            icon="icons/udr.png"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.kotemaru.eclipse.umldraw.editors.BrowserEditor"
            id="org.kotemaru.eclipse.umldraw.editors.BrowserEditor">
      </editor>
   </extension>
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.kotemaru.eclipse.umldraw.PrefInit"/>
	</extension>
</plugin>
