// BeanVisitor generated.
package ${packageName};
public class ${className}
		extends ${coreClassName}
{

#foreach( $field in $coreClassDecl.fields )
	#set($name = "${field.simpleName}")
	#set($Name = "${util.getCaptalName(${name})}")

	public ${field.type} get${Name}() {return this.${name};}
	public void set${Name}(${field.type} ${name}) {this.${name} = ${name};}
#end

}
