package ${package_meta};

import java.util.List;
import java.util.ArrayList;

import ${package_sqlhelper}.ColumnMeta;
import ${package_sqlhelper}.ColumnMetaBase;
import ${package_sqlhelper}.TableMetaBase;

public class ${tableName} extends TableMetaBase {

	public ${tableName}() {
		this.setTableName(${util.quote(${tableName})});
	}
	public Object clone() {
		return new ${tableName}();
	}
	public static ${tableName} as(String name) {
		${tableName} _this = new ${tableName}();
		_this.setAsName(name);
		return _this;
	}

	public List<ColumnMeta> getAllColumns() {
		List<ColumnMeta> list = new ArrayList<ColumnMeta>();
#foreach(${col} in ${columns})
		list.add(${col.columnName}.value(null));
#end
		return list;
	}


#foreach(${col} in ${columns})
	public ColumnMeta ${col.columnName} = new ColumnMetaBase(this,
		${util.quote(${col.columnName})},	// columnName
		${col.dataType},		// dataType (java.sql.Types)
		${col.columnSize},		// columnSize
		${col.decimalDigits},		// decimalDigits
		${col.nullable},		// nullable
		${util.quote(${col.columnDef})},		// columnDef
		${col.charOctetLength},		// charOctetLength
		${util.quote(${col.isAutoincrement})}		// isAutoincrement
	);
#end

}
