
.PopupMenu {
	display: none;
	position: absolute;
	border: 1px solid black;
	box-shadow: 4px 4px 8px;
	overflow-y: scroll;
	background: white;
	width: 150px;
	height: 150px;
	padding: 2px;
	
	font-size: 12px;
	font-weight: normal;
	line-height: 110%;
}

#iconSelectMenu  {
	width: 135px;
}

#iconSelectMenu > img {
	width: 20px;
	height: 20px;
	padding: 2px;
	margin: 1px;
}
div.PopupMenuItem {
	white-space: nowrap;
	overflow: hidden;
	margin-bottom: 2px;
}
.PopupMenuItem:hover {
	background: #eee;
}

